body {
  margin: 0;
  padding: 0;
}

main {
  width: 500px;
  height: 600px;
  margin-top: 40px;
  margin: auto;
  font-family: Arial, sans-serif;
}

main .main-description h1 {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

main .main-description h1 span {
  font-size: 32px;
}

main .main-description h3 {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

main .main-description img {
  position: absolute;
  top: 20%;
  left: 45%;
}

main .main-description div {
  width: 130px;
  height: 60px;
  font-size: 11px;
  margin: 0;
  text-align: center;
}

main .main-description .feature a {
  color: #3366cc;
  margin: 0;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}

main .main-description .feature a:hover {
  text-decoration: underline;
}

main .main-description .feature p {
  margin: 0;
  padding: 5px;
}

.main-description .español {
  width: 156px;
  height: 45px;
  position: absolute;
  left: 40%;
  top: 14%;
}

.main-description .chino {
  width: 156px;
  height: 45px;
  position: absolute;
  left: 37%;
  top: 22%;
}

.main-description .ruso {
  width: 156px;
  height: 45px;
  position: absolute;
  left: 34%;
  top: 30%;
}

.main-description .italiano {
  width: 156px;
  height: 45px;
  position: absolute;
  left: 37%;
  top: 38%;
}

.main-description .portugues {
  width: 156px;
  height: 45px;
  position: absolute;
  left: 40%;
  top: 46%;
}

.main-description .ingles {
  width: 156px;
  height: 45px;
  position: absolute;
  right: 40%;
  top: 14%;
}

.main-description .aleman {
  width: 156px;
  height: 45px;
  position: absolute;
  right: 37%;
  top: 22%;
}

.main-description .frances {
  width: 156px;
  height: 45px;
  position: absolute;
  right: 34%;
  top: 30%;
}

.main-description .japones {
  width: 156px;
  height: 45px;
  position: absolute;
  right: 37%;
  top: 38%;
}

.main-description .polka {
  width: 156px;
  height: 45px;
  position: absolute;
  right: 40%;
  top: 46%;
}

main .main-input-search {
  width: 394px;
  height: 44px;
  border: 1px solid #a2a9b1;
  border-radius: 3px;
  position: absolute;
  top: 55%;
  left: 40%;
  display: grid;
  grid-template-columns: 320px 40px 44px;
}

main .main-input-search input {
  width: 310px;
  height: 38px;
  padding: 1px 0;
  text-align: end;
  border: 0;
}

main .main-input-search .icon-expand {
  display: flex;
  align-items: center;
}

main .main-input-search .icon-expand span {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

main .main-input-search .icon-expand:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

main .main-input-search .icon-search-white {
  background-color: #3366cc;
  text-align: end;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-input-search .icon-search-white:hover {
  background-color: #447ff5;
  cursor: pointer;
}

main .main-botton {
  width: 100%;
  height: 36px;
  position: absolute;
  top: 65%;
  left: 0;
}

main .main-botton button {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 268px;
  height: 36px;
  padding: 10px 5px;;
  font-size: 13.5px;
  color: #3366cc;
  font-weight: bold;
}

main .main-botton .icon-wikipedia {
  margin: 0 5px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}

main .main-botton .icon-expand_more {
  margin: 0;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
}

main .main-botton .icon-expand_more {
  cursor: pointer;
}

.options-wiki {
  display: grid;
  grid-template-columns: repeat(4, 400px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 5px 5px;
  justify-content: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 130px;
  border-top: 1px solid #c8ccd1;
  padding-top: 40px;
}

.options-wiki .wikipedia-foundation {
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.options-wiki .wikipedia-app {
  grid-column: 1 / span 1;
  grid-row: 3 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.options-wiki p {
  margin-left: 13px;
  line-height: 180%;
}

.options-wiki .options-wiki-commons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-wiki .options-wiki-commons strong {
  color: #7ab8ea;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ruwq8d');
  src:  url('../fonts/icomoon.eot?ruwq8d#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ruwq8d') format('truetype'),
    url('../fonts/icomoon.woff?ruwq8d') format('woff'),
    url('../fonts/icomoon.svg?ruwq8d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-expand_more:before {
  content: "\e907";
}
.icon-wikipedia:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e903";
}
